*{
    padding: 0%;
    margin: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=IBM+Plex+Sans:ital,wght@1,300&family=Merriweather:ital,wght@1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
.container{
   
width: 27%;
height: 100%;

margin: 50px auto;
padding: 20px 10px;

}
.heading{
    color: rgb(71, 63, 63);
    text-shadow: 2px 3px pink;
    margin: 0 30px;
    
}
.row , .rows{
    margin-left: 40px;
}
.input{
    width: 260px;
    background-color: rgba(243, 239, 235, 0.859);
    height: 28px;
    /* padding-top: 10px; */
    margin: 10px 38.5px;
    border-radius: 10px;

}

.button{
   border-radius: 10px;
    width: 56px;
    height: 30px;
    padding: 20px;
    margin: 3px ;
    font-size: 15px;
    text-align: center;
cursor: pointer;
   
    
}